# .gitignore

# Python
__pycache__/
*.py[cod]
venv/
.venv/

# Environment Variables (CRITICAL)
.env

# IDEs
.vscode/
.idea/

# Data Output directories
cmm_data_output/

# Docker volumes (if locally mounted in project root)
influxdb2_data/
influxdb2_config/
grafana_data/